<form (ngSubmit)="onSubmit()" #ticketForm="ngForm" *ngIf="player_scores">
  <div>
    <label for="">Points</label>
    <input class="form-control" type="text" id="ticketpoints" name="ticketpoints" value="{{ player_scores.points }}" disabled/>
  </div>
  <div id="ticket_scores" class="container">
    <app-score-entry *ngFor="let score of player_scores.scores" [score]="score" [games]="games" class="row">
    </app-score-entry>
  </div>
  <button type="submit" class="btn btn-success">Save</button>
</form>





