<div class="container-fluid" *ngIf="visible && loading === false">
    <div class="row" *ngIf="type==='scan'">
        <h4>Scan ticket QR code</h4>
        <div class="scanner-container">
            <zxing-scanner [enable]="type==='scan'" (scanSuccess)="scanSuccessHandler($event)"></zxing-scanner>
        </div>
    </div>
    <div class="row" *ngIf="type==='manual'">
        <form>
            <div class="form-group">
                <h4>Ticket</h4>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Ticket number</label>
                <input tabindex="1" type="number" class="form-control form-control-lg" id="inputTicketNumber" aria-describedby="ticketNumberHelp" [(ngModel)]="ticketNumber" placeholder="Enter ticket number" name="ticketNumber" autofocus>
                <label class="form-check-label" for="ticketNumberHelp">You find the ticket number on the right side of the
          ticket</label>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="manualInput(ticketNumber)">Submit</button>
        </form>
    </div>
</div>
<div *ngIf="loading">
    loading
</div>