<form (ngSubmit)="onSubmit()">
  <h2>Player import</h2>
  <div class="form-group">
    <label for="exampleFormControlFile1">Select import file</label>
    <input type="file" class="form-control-file" accept=".csv" id="csvFile" (change)="onReadFile($event)">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <button type="reset" (click)="onReset()" class="btn btn-secondary">Reset</button>
</form>

<table class="table" *ngIf="players.length > 0">
  <thead>
    <tr>
      <th scope="col">Voornaam</th>
      <th scope="col">Tussenvoegsel</th>
      <th scope="col">Achternaam</th>
      <th scope="col">Email</th>
      <th scope="col">Land</th>
      <th scope="col">Ifpanummer</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of players" [ngClass]="{'table-success': player.imported, 'table-danger': player.errors != null && player.errors.length > -1}">
      <td>{{player.voornaam}}</td>
      <td>{{player.tussenvoegsel}}</td>
      <td>{{player.achternaam}}</td>
      <td>{{player.email}}</td>
      <td>{{player.land}}</td>
      <td>{{player.ifpanummer}}</td>
      <td>{{player.errors}}</td>
    </tr>
  </tbody>
</table>