<div class="d-flex bd-highlight navbar-light" >
  <div class="p-2 bd-highlight">
    <a class="navbar-brand" href="#">DPO</a>
  </div>
  <div class="p-2 bd-highlight nav navbar-nav"><app-tournament (tournament_selected)="tournamentSelected($event)"></app-tournament></div>
  <div class="ml-auto p-2 bd-highlight"><app-logon></app-logon></div>
</div>
<nav class="navbar navbar-expand-sm-dpo navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <li class="nav navbar-nav" [routerLinkActive]="['active']">
      <a class="nav-link" routerLink="/main/standing" *ngIf="tournament_type=='main'">standing</a>
      <a class="nav-link" routerLink="/classics/standing" *ngIf="tournament_type=='classics'">standing</a>
    </li>
    <li class="nav navbar-nav" [routerLinkActive]="['active']">
      <a class="nav-link" routerLink="/main/games" *ngIf="tournament_type=='main'">games</a>
      <a class="nav-link" routerLink="/classics/games" *ngIf="tournament_type=='classics'">games</a>
    </li>
    <li class="nav navbar-nav">
      <a class="nav-link" href="{{ finals_url(tournament_type) }}">finals</a>
    </li>
    <li class="nav navbar-nav" *ngIf="tournament_type=='main' && is_authenticated" routerLinkActive="active">
      <a class="nav-link" routerLink="/main/player">scoring</a>
    </li>
    <li class="nav navbar-nav" *ngIf="tournament_type=='classics' && is_authenticated" routerLinkActive="active">
      <a class="nav-link" routerLink="/classics/ticket">scoring</a>
    </li>
    <li class="nav navbar-nav" *ngIf="is_staff" routerLinkActive="active">
      <a class="nav-link" routerLink="/admin">admin</a>
    </li>
  </div>
</nav>
<main class="col-12 bd-content">
  <router-outlet></router-outlet>
</main>
