<div *ngIf="players" id="playerstanding" class="foobar">
  <table class="table">
    <thead>
    <th scope="col">#</th>
    <th scope="col">Points</th>
    <th scope="col">Player</th>
    <th scope="col">Games played</th>
    <th scope="col">Tag</th>
    </thead>
    <tbody>
    <tr *ngFor="let player of playerRankings; let i = index" [ngClass]="{last_qualifier: i+1===qualifiers}">
      <th scope="row">{{ i + 1 }}</th>
      <th><span class="badge badge-pill">{{ player.points }}</span></th>
      <th><a routerLink="/main/standing/player/{{player.id}}">{{ player.name }}</a></th>
      <th>{{ player.gamesPlayed}} <span *ngIf="player.wildcardPlayed">*</span>
      </th>
      <th>{{ player.tag }}</th>
    </tr>
    </tbody>
  </table>
</div>
