<div *ngIf="visible && loading === false">
  <form>
    <div *ngIf="!aggreed">
      <div class="form-group">
        <h4>Score</h4>
      </div>
      <div class="form-group" *ngIf="!aggreed">
        <label for="exampleInputEmail1">Enter the score</label>
        <input class="form-control form-control-lg" type="text" appScoreNumericInput id="score-number"
          [(ngModel)]="score" name="score-number" [ngClass]="{'readonly': aggreed}" name="score"
          placeholder="Enter score" inputmode="numeric">
      </div>
    </div>

    <div class="player card container-fluid" *ngIf="aggreed">
      <div class="row no-gutters">
        <div class="col-2 min75">
          <h1></h1>
        </div>
        <div class="col">
          <div class="card-body">
            <h5 class="card-title">Score</h5>
            <h1 class="card-title">{{visualScore|number}}</h1>
          </div>
        </div>
        <div class="col">
          <button type="button" class="btn btn-lg btn-block btn-light" *ngIf="aggreed" (click)="onReset.emit()">Reset</button>
          <button type="button" class="btn btn-lg btn-block btn-light" *ngIf="aggreed" (click)="agree()">Change score</button>
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-lg btn-block btn-primary" *ngIf="!aggreed" (click)="agree()">Submit</button>
    <button type="button" class="user-submit btn btn-success btn-lg btn-block" *ngIf="aggreed" (click)="submit()">Yes, I agree</button>
  </form>
</div>