<main class="">
  <div class="ticket card container-fluid" *ngIf="classicScore.ticket">
    <div class="row no-gutters">
      <div class="col-2 min75">
        <img class="card-img img" *ngIf="classicScore.inputType === 'scan'" src="./assets/qrcode-black.svg">
        <img class="card-img img bg-dark" *ngIf="classicScore.inputType === 'manual'" src="./assets/keyboardinput.svg">
      </div>
      <div class="col">
        <div class="card-body">
          <h5 class="card-title">Ticket {{classicScore.ticket.number}}</h5>
          <p *ngFor="let score of classicScore.ticket.scores">
            {{gameName(score.game)}}: {{score.score}}
          </p>
        </div>
      </div>
      <div class="col" *ngIf="!classicScore.ticket?.void && classicScore.state > 2"> 
        <button *ngIf="!askSure" class="btn btn-lg btn-block btn-info" (click)="askSure = true">Void ticket</button>
        <button *ngIf="askSure" class="btn btn-lg btn-block btn-primary" (click)="onVoid()">Yes, void ticket</button>
        <button *ngIf="askSure" class="btn btn-lg btn-block btn-secondary" (click)="askSure = false">Cancel</button>
      </div>
    </div>
  </div>

  <div class="player card container-fluid" *ngIf="classicScore.player">
    <div class="row no-gutters">
      <div class="col-2 min75">
        <img class="card-img img" alt="Player photo" title="Player photo" src="{{classicScore.player.image}}"
          default="./assets/profile_default.png">
      </div>
      <div class="col">
        <div class="card-body">
          <h5 class="card-title">Player {{classicScore.player.full_name}}</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="player card container-fluid" *ngIf="classicScore.game">
    <div class="row no-gutters">
      <div class="col-2">
        <img class="card-img img" src="./assets/pinball.svg">
      </div>
      <div class="col">
        <div class="card-body">
          <h5 class="card-title">Game {{classicScore.game.title}}</h5>
        </div>
      </div>
    </div>
  </div>

  <!-- Step 0 - Select inputtype -->
  <div *ngIf="classicScore.state === 0">
    <div class="row">
      <div class="col">
      </div>
    </div>
    <!--todo component van maken-->
    <div class="row" *ngIf="classicScore.inputType==='choice'">
      <div class="col">
        <button class="btn btn-success btn-large" (click)="onSelectInputType('scan');">
          <img src="./assets/qrcode.svg">
          <p>Scan QR code</p>
        </button>
      </div>
      <div class="col">
        <button class="btn btn-success btn-large" (click)="onSelectInputType('manual');">
          <img src="./assets/keyboardinput.svg">
          <p>
            Manual input
          </p>
        </button>
      </div>
    </div>
  </div>

  <!-- Step 1 - Enter Ticket id -->
  <app-classics-scan-ticket [visible]="classicScore.state === 1" [type]='classicScore.inputType'
    (onTicketFound)='onTicketFound($event)'></app-classics-scan-ticket>

  <!-- Step 2 - Enter Player id  (if new ticket)-->
  <div *ngIf="classicScore.state === 2">

  </div>
  <app-classics-new-ticket [visible]="classicScore.state === 2" [ticketNumber]="ticketNumber"
    [type]="classicScore.inputType" (newTicket)='onTicketFound($event)'>
  </app-classics-new-ticket>

  <!-- Step 3 - Enter Game id -->
  <app-classics-scan-game [visible]="classicScore.state === 3 && !classicScore.ticket.void" [type]='classicScore.inputType'
    (onGameFound)='onGameFound($event)'></app-classics-scan-game>

  <!-- Step 4 - Enter Score -->
  <app-classics-enter-score [visible]="classicScore.state === 4" (onScoreEntered)='onScoreEntered($event)'
    (onReset)='reset()'></app-classics-enter-score>

  <div *ngIf="classicScore.state === 1 && classicScore.inputType === 'scan'">
    <button type="button" (click)="onInputTypeChange('manual')"
      class="btn btn-secondary btn-lg btn-block">Manual</button>
  </div>
  <div *ngIf="classicScore.state === 1 && classicScore.inputType === 'manual'">
    <button type="button" (click)="onInputTypeChange('scan')" class="btn btn-secondary btn-lg btn-block">Scan</button>
  </div>
  <div *ngIf="classicScore.state > 1 && enterScoreComponent.aggreed === false">
    <button type="button" (click)="reset()" class="btn btn-secondary btn-lg btn-block">Reset</button>
  </div>
</main>