zxing-scanner {
    max-width: 50%;
}

.btn-large{
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    width: 100%;
}

.ticket img {
    width: 100%;
}

.player img {
    width: 100%
}