<div *ngIf="visible && loading === false">
    <div class="container-fluid">
        <div class="row" *ngIf="type==='scan'">
            <div class="form-group">
                <h4>Scan game QR code</h4>
                <div class="scanner-container">
                    <zxing-scanner [enable]="type==='scan'" (scanSuccess)="scanSuccessHandler($event)"></zxing-scanner>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="type==='manual'">
            <form>
                <div class="form-group">
                    <h4>Game</h4>
                </div>
                <div class="form-group">
                    <input tabindex="1" type="text" class="form-control form-control-lg" id="inputSearchText" aria-describedby="searchTextHelp" [(ngModel)]="filter" placeholder="Enter game title or number to filter" name="ticketNumber" autofocus>

                </div>
                <div class="form-group">
                    <div class="list-group">
                        <button type="button" (click)="onClickGame(game)" [ngClass]="{'active': selectedGame === game}" class="list-group-item list-group-item-action" *ngFor="let game of gameListFiltered; let i=index">
              {{ game.title }} ({{ game.number }})
            </button>
                        <li class="list-group-item disabled " *ngIf="gameListFiltered.length > 9">{{gameListFiltered.length - 9}} more games found. Use filter to narrow the result.</li>
                    </div>
                    <span *ngIf="gameListFiltered?.length === 0">No games with current filter</span>
                </div>
            </form>
        </div>
    </div>
    <button *ngIf="type==='manual'" type="button" [ngClass]="{'disabled': selectedGame === undefined}" class="btn btn-lg btn-block btn-primary" (click)="onOk()">Submit</button>
</div>
<div *ngIf="loading">
    loading
</div>