<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"aria-haspopup="true" aria-expanded="false">
    <span class="nowrap" *ngIf="selected_tournament">{{ selected_tournament.title }}</span>
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a *ngFor="let tournament of tournaments" class="dropdown-item nowrap" (click)="selectTournament(tournament)">{{ tournament.title }}</a>
  </div>
</li>
