<div *ngIf="visible && loading === false">
    <div class="container-fluid">
        <div class="row" *ngIf="type==='scan'">
            <div class="form-group">
                <h4>Scan player QR code</h4>
                <div class="scanner-container">
                    <zxing-scanner [enable]="type==='scan'" (scanSuccess)="scanSuccessHandler($event)"></zxing-scanner>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="type==='manual'">
            <form>
                <div class="form-group">
                    <h4>Player</h4>
                </div>
                <div class="form-group">
                    <input tabindex="1" type="text" class="form-control form-control-lg" id="inputSearchText" aria-describedby="searchTextHelp" [(ngModel)]="filter" placeholder="Enter player name or IFPA number to filter" name="ticketNumber" autofocus>

                </div>
                <div class="form-group">
                    <div class="list-group">
                        <button type="button" (click)="onClickPlayer(player)" [ngClass]="{'active': selectedPlayer === player}" class="list-group-item list-group-item-action" *ngFor="let player of playerListFiltered; let i=index">
              {{ player.full_name }} ({{ player.ifpa_info?.player?.player_id || '?'}})
            </button>
                        <li class="list-group-item disabled " *ngIf="playerListFiltered.length > 9">
                            {{playerListFiltered.length - 9}} more players found. Use filter to narrow the result.</li>
                    </div>
                    <span *ngIf="playerListFiltered?.length === 0">No players with current filter</span>
                </div>
            </form>
        </div>
    </div>
    <button *ngIf="type==='manual'" type="button" [ngClass]="{'disabled': selectedPlayer === undefined}" class="btn btn-lg btn-block btn-primary" (click)="onOk()">Submit</button>
</div>
<div *ngIf="loading">
    loading
</div>