<div id="ticket-details" *ngIf="ticket">
  <!-- {{diagnostic}} -->
  <form (ngSubmit)="onSubmit()" #ticketForm="ngForm">

    <div class="form-group">
      <label for="player">Player</label>
      <select class="form-control" id="player" [(ngModel)]="ticket.player" name="player" required disabled>
        <option *ngFor="let player_item of players" [value]="player_item.url">
          ({{player_item.tag}}) {{player_item.full_name}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="ticketpoints">Points</label>
      <input class="form-control" type="text" id="ticketpoints" name="ticketpoints" value="{{ ticket.points }}"
        disabled />
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="void" name="void" [(ngModel)]="ticket.void">
      <label class="form-check-label" for="void">Void</label>
    </div>
    <div id="ticket_scores" class="container">
      <app-score-entry *ngFor="let score of ticket.scores" [score]="score" [games]="games" class="row">
      </app-score-entry>
    </div>
    <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>