<div class="container-fluid" *ngIf="visible">
    <div class="row" *ngIf="type==='scan'">
        <form>
            <div class="form-group">
                <h4>Scan player QR code</h4>
            </div>
            <div class="scanner-container">
                <zxing-scanner *ngIf="selectedPlayer === null" [enable]="type==='scan'" (scanSuccess)="scanSuccessHandler($event)">
                </zxing-scanner>
            </div>
            <div class="form-group" *ngIf="selectedPlayer !== null && !selectedPlayer.activated">
                <div class="form-group">
                    <h4>Playername</h4>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-lg" placeholder="Enter the full name of the player" [(ngModel)]="playerName" name="playerName">
                </div>

                <div class="form-group">
                    <h4>Country code</h4>
                </div>
                <div class="form-group">
                    <input maxlength="2" type="text" class="form-control form-control-lg" placeholder="Enter the country code of the player. (eg NL/BE/DE/FR)" [(ngModel)]="selectedPlayer.country_code" name="country_code">
                </div>

                <div class="form-group">
                    <h4>IFPA number</h4>
                </div>
                <div class="form-group">
                    <input maxlength="2" type="number" class="form-control form-control-lg" placeholder="Enter the IFPA number if the player has one" [(ngModel)]="selectedPlayer.number" name="ifpa">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="onSubmit()">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row" *ngIf="type==='manual'">
        <!---->
        <form>
            <div class="form-group">
                <h4>Player</h4>
            </div>
            <div class="form-group">
                <input tabindex="1" type="text" class="form-control form-control-lg" id="inputSearchText" aria-describedby="searchTextHelp" [(ngModel)]="filter" placeholder="Enter player name or IFPA number to filter" name="ticketNumber" autofocus>

            </div>
            <div class="form-group">
                <div class="list-group">
                    <button type="button" (click)="onClickPlayer(player)" [ngClass]="{'active': selectedPlayer === player}" class="list-group-item list-group-item-action" *ngFor="let player of playerListFiltered; let i=index">
            {{ player.full_name }},
            IFPA: {{ player.number || '?'}},
            ID: {{player.id}}
          </button>
                    <li class="list-group-item disabled " *ngIf="playerListFiltered.length > 9">
                        {{playerListFiltered.length - 9}} more players found. Use filter to narrow the result.</li>
                </div>
                <span *ngIf="playerListFiltered?.length === 0">No players with current filter</span>
            </div>

            <div *ngIf="selectedPlayer !== null && !selectedPlayer.activated">
                <div class="form-group">
                    <div class="form-group">
                        <h4>Playername</h4>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-lg" placeholder="Enter the full name of the player" [(ngModel)]="playerName" name="playerName">
                    </div>
                </div>

                <div class="form-group">
                    <h4>Country code</h4>
                </div>
                <div class="form-group">
                    <input maxlength="2" type="text" class="form-control form-control-lg" placeholder="Enter the country code of the player. (eg NL/BE/DE/FR)" [(ngModel)]="selectedPlayer.country_code" name="country_code">
                </div>

                <div class="form-group">
                    <h4>IFPA number</h4>
                </div>
                <div class="form-group">
                    <input maxlength="2" type="number" class="form-control form-control-lg" placeholder="Enter the IFPA number if the player has one" [(ngModel)]="selectedPlayer.number" name="ifpa">
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="onSubmit()">Submit</button>
            </div>
        </form>
    </div>
</div>