 <input *ngIf="!score.wildcard" type="text" class="form-control col-2" id="position{{score.id}}"
        [(ngModel)]="score.position" name="position{{score.id}}" disabled
        [ngClass]="{'validscore': validScore, 'invalidscore': !validScore}"/>
 <input *ngIf="score.wildcard" type="text" class="form-control col-2" id="position{{score.id}}"
        name="position{{score.id}}" value="Wildcard" disabled
        [ngClass]="{'validscore': validScore, 'invalidscore': !validScore}"/>
 <select class="form-control col-5" id="game{{score.id}}"
         [(ngModel)]="score.game" name="game{{score.id}}" required>
   <option *ngFor="let game_item of games" [value]="game_item.url">{{game_item.number}}: {{game_item.title}}</option>
 </select>
 <input type="text" class="form-control col-5" id="score{{score.id}}" appScoreNumericInput
        [(ngModel)]="scoreInput" name="score{{score.id}}" required/>
