<div *ngIf="gameRanking">
  <table class="table">
    <thead>
    <th scope="col">#</th>
    <th scope="col">Player</th>
    <th scope="col">Tag</th>
    <th scope="col">Score</th>
    <th scope="col">Points</th>
    </thead>
    <tbody>
    <tr *ngFor="let line of gameRanking.ranked">
      <th scope="row">{{ line.rank }}</th>
      <th>{{ line.player.full_name }}</th>
      <th>{{ line.player.tag }}</th>
      <th>{{ line.score | number}}</th>
      <th>{{ line.points }}</th>
    </tr>
    </tbody>
  </table>
</div>
