<form *ngIf="players">
  <label for="choosePlayerForm">Player</label>
  <select class="form-control" [(ngModel)]="selectedPlayer" id="choosePlayerForm" name="playerForm">
    <option [value]="null">Choose player</option>
    <option *ngFor="let player of players; let i=index" [value]="i">
      {{ player.number }} ({{ player.tag }}): {{ player.full_name }}
    </option>
  </select>
</form>
<app-main-player-score *ngIf="selectedPlayer" [player]="players[selectedPlayer]">

</app-main-player-score>
