<div *ngIf="tickets" id="ticketstanding">
  <table class="table">
    <thead>
    <th scope="col">#</th>
    <th scope="col">Points</th>
    <th scope="col">Player</th>
    <th scope="col">Tag</th>
    <th scope="col" *ngIf="showTicketNumber">Ticket</th>
    </thead>
    <tbody>
    <tr *ngFor="let ticket of tickets; let i = index" [ngClass]="{last_qualifier: i===lastQualifyingRow}">
      <th scope="row">{{ i + 1 }}</th>
      <th>{{ ticket.points }}</th>
      <th><a routerLink="/classics/player/{{ticket.player_details.id}}">{{ ticket.player_details.full_name }}</a></th>
      <th>{{ ticket.player_details.tag }}</th>
      <th *ngIf="showTicketNumber">{{ ticket.number }}</th>
    </tr>
    </tbody>
  </table>
</div>
