<div class="card vertical" *ngIf="display === 'vertical'">
  <img class="card-img-top img" alt="Player photo" title="Player photo" src="{{imageUrl}}"
    default="./assets/profile_default.png" width="220" height="165">
  <div class="card-body">
    <div class="text-muted">name</div>
    <div class="text-value">{{name}}</div>

    <div class="text-muted">tag</div>
    <div class="text-value">{{tag || ifpaInfo.player.initials || '-'}}</div>

    <div class="text-muted">gender</div>
    <div class="text-value">{{ifpaInfo.player.gender || '-'}}</div>

    <div class="text-muted">age</div>
    <div class="text-value">{{ifpaInfo.player.age || '-'}}</div>

    <div class="text-muted">city</div>
    <div class="text-value">{{ifpaInfo.player.city || '-'}}</div>

    <div class="text-muted">country</div>
    <div class="text-value">{{ifpaInfo.player.country_name || '-'}}</div>

  </div>
  <div class="card-footer text-muted">
    <a href="#" href="http://www.ifpapinball.com/player.php?p={{ifpaInfo.player.player_id}}" class="card-link">IFPA
      profile</a>
  </div>
</div>

<div class="card container-fluid" *ngIf="display === 'horizontal'">
  <div class="row no-gutters">
    <div class="col-2">
      <img class="card-img img" alt="Player photo" title="Player photo" src="{{imageUrl}}"
        default="./assets/profile_default.png">
    </div>
    <div class="col">
      <div class="card-body">
        <div class="text-muted">name</div>
        <div class="text-value">{{name}}</div>
        <div class="text-muted">tag</div>
        <div class="text-value">{{tag || ifpaInfo.player.initials || '-'}}</div>
      </div>
    </div>
    <div class="col">
      <div class="card-body">
        <div class="text-muted">gender</div>
        <div class="text-value">{{ifpaInfo.player.gender || '-'}}</div>
        <div class="text-muted">age</div>
        <div class="text-value">{{ifpaInfo.player.age || '-'}}</div>
      </div>
    </div>
    <div class="col">
      <div class="card-body">
        <div class="text-muted">city</div>
        <div class="text-value">{{ifpaInfo.player.city || '-'}}</div>
        <div class="text-muted">country</div>
        <div class="text-value">{{ifpaInfo.player.country_name || '-'}}</div>
        <div class="text-muted">
            <a href="#" href="http://www.ifpapinball.com/player.php?p={{ifpaInfo.player.player_id}}" class="card-link">IFPA
              profile</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- {{ifpaInfo|json}} -->
