.card .vertical {
    width: 220px;
}
div.text-muted {
    font-size: 0.9em;
    margin-bottom: 1px;
}
div.text-value {
    font-size: 1.25em;
    margin-bottom: 5px;
}
.container-fluid img {
    width:100%;
}
