<form *ngIf="games">
  <select class="form-control" id="game" [(ngModel)]="selectedGame" name="game" required>
    <option *ngFor="let game of games" [value]="game.id">
      {{game.number}}: {{game.title}}
    </option>
  </select>
</form>
<app-game-ranking-table [game_id]="selectedGame" *ngIf="games" [tournament]="'classics'"></app-game-ranking-table>
