<div *ngIf="visible && loading === false">
  <form>
    <div *ngIf="!aggreed">
      <div class="form-group">
        <h4>Score</h4>
      </div>
      <div class="form-group" *ngIf="!aggreed">
        <input class="form-control form-control-lg" type="text" appScoreNumericInput id="score-number"
          [(ngModel)]="score" name="score-number" [ngClass]="{'readonly': aggreed}" name="score"
          placeholder="Enter score" inputmode="numeric">

      </div>
      <div class="form-group form-check wildcard" *ngIf="!aggreed">
        <input type="checkbox" class="form-check-input " [(ngModel)]="wildcard" id="wildcard" name="wildcard">
        <label class="col-form-label-lg" for="wildcard">Wildcard/Joker</label>
      </div>
    </div>

    <div class="player card container-fluid" *ngIf="aggreed">
      <div class="row no-gutters">
        <div class="col-1 min75">
          <h1></h1>
        </div>
        <div class="col">
          <div class="card-body">
            <h6 class="card-title text-secondary">Score</h6>
            <h3 class="card-title">{{visualScore|number}}</h3>
            <h3 class="card-title" *ngIf="wildcard === true"><span class="badge badge-info">Wildcard/Joker</span></h3>
          </div>
        </div>
        <div class="col">
          <button type="button" class="btn btn-lg btn-block btn-light" *ngIf="aggreed" (click)="onReset.emit()">Reset</button>
          <button type="button" class="btn btn-lg btn-block btn-light" *ngIf="aggreed" (click)="agree()">Change score</button>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-lg btn-block btn-primary" *ngIf="!aggreed" (click)="agree()">Submit</button>
    <button type="button" class="user-submit btn btn-success btn-lg btn-block" *ngIf="aggreed" (click)="submit()">Yes, I agree</button>
  </form>
</div>