.form-check.wildcard>input {
    width: 25px;
    height: 25px;
    margin-top: 0.6rem;
    margin-left: -1rem;
}

.form-check.wildcard>label {
    padding-left: 1rem;
}

.user-submit {
    padding: 25px;
    margin-top: 10px;
}