<p>
  Before using these tools, make sure to log in to <a href="{{api_url}}admin">django admin</a> first.
</p>
<ul>
  <li>Common:<ul>
    <li><a href="{{api_url}}player/badges/">Print player badges</a></li>
    <li><a routerLink="/admin/playerimport">Import players from csv</a></li>
  </ul></li>
  <li>Main:<ul>
    <li><a href="{{api_url}}main/refresh-ranking/">Refresh ranking</a></li>
    <li><a href="{{api_url}}main/aproncards/">Print apron cards</a></li>
  </ul></li>
  <li>Classics:<ul>
    <li><a href="{{api_url}}classics/refresh-ranking/">Refresh ranking</a></li>
    <li><a href="{{api_url}}classics/tickets/?from=10000&to=10016">Print classics tickets</a></li>
    <li><a href="{{api_url}}classics/aproncards/">Print apron cards</a></li>
  </ul></li>

</ul>

