.ng-dirty:not(.ng-invalid):not(form) {
  border-left: 5px solid #dddd00; /* yellow */
}

.ng-valid[required]:not(.ng-dirty), .ng-valid.required:not(.ng-dirty)  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}


  
form{
  width: 100%;
}
form button.btn-block {
  margin-bottom: 5px;
}

@media (max-width: 375.98px) {
  .navbar-expand-sm-dpo > .container,
  .navbar-expand-sm-dpo > .container-fluid, .navbar-expand-sm-dpo > .container-sm, .navbar-expand-sm-dpo > .container-md, .navbar-expand-sm-dpo > .container-lg, .navbar-expand-sm-dpo > .container-xl {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 375px) {
  .navbar-expand-sm-dpo {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-sm-dpo .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-sm-dpo .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-sm-dpo .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-sm-dpo > .container,
  .navbar-expand-sm-dpo > .container-fluid, .navbar-expand-sm-dpo > .container-sm, .navbar-expand-sm-dpo > .container-md, .navbar-expand-sm-dpo > .container-lg, .navbar-expand-sm-dpo > .container-xl {
    flex-wrap: nowrap;
  }
  .navbar-expand-sm-dpo .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-sm-dpo .navbar-toggler {
    display: none;
  }
}

.scanner-container{
  width:100%;
}

.min75 {
  min-width: 75px;
}