<div class="container-fluid" *ngIf="visible && loading === false">
    <div class="row" *ngIf="type==='scan'">
        <h4>Scan game QR code</h4>
        <div class="scanner-container">
            <zxing-scanner [enable]="type==='scan'" (scanSuccess)="scanSuccessHandler($event)"></zxing-scanner>
        </div>
    </div>
    <div class="row" *ngIf="type==='manual'">
        <form>
            <div class="form-group">
                <h4>Game</h4>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Enter game number</label>
                <input tabindex="1" type="number" class="form-control form-control-lg" id="inputTicketNumber" aria-describedby="ticketNumberHelp" [(ngModel)]="gameNumber" placeholder="Enter game number" name="gameNumber" autofocus>
                <label class="form-check-label" for="ticketNumberHelp">You find the game number on the right side of the
          pinball machine</label>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="manualInput(gameNumber)">Submit</button>
        </form>
    </div>
</div>
<div *ngIf="loading">
    loading
</div>