<main *ngIf="player" class="">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 ticket" *ngIf="tournamentType === 'classics'">
        <div *ngFor="let ticket of tickets">
          <app-player-classics-ticket [ticket]="ticket" [games]="getTicketGames(ticket)"></app-player-classics-ticket>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-8 ticket" *ngIf="tournamentType === 'main'">
        <ul class="list-group list-group-flush">
          <li class="list-group-item bold">
              <div class="row">
                <div class="col-5 game">Game</div>
                <div class="col-4">Score</div>
                <div class="col-3">Rank/Points</div>
              </div>
            </li>
          <li class="list-group-item" *ngFor="let score of player.scores">
            <!-- betere responsive tables -->
            <div class="row" [ngClass]="{'disabled': !score.valid}">
              <!-- wachten op -->
              <div class="col-5 game">{{getGameName(score.game)}} <span *ngIf="score.wildcard === true" class="badge badge-pill badge-info">wildcard/joker</span></div>
              <div class="col-4"><b>{{score.score | number}}</b> points</div>
              <div class="col-3" *ngIf="score.valid">
                <span class="badge badge-pill badge-primary">{{score.rank||0}}</span>
                <span class="badge badge-pill badge-light">{{score.points||0}} / 100</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-xs-6 col-md-3 player">
        <app-player-information-ifpa *ngIf="hasIfpa" [name]="player.full_name" [tag]="player.tag"
          [ifpaInfo]="player.ifpa_info" [imageUrl]="player.image"></app-player-information-ifpa>
        <app-player-information *ngIf="!hasIfpa" [player]="player"></app-player-information>
      </div>
    </div>
  </div>
</main>

<!-- debug info 
{{player|json}} 
{{tickets|json}}
-->