<div class="card">
    <img class="card-img-top img" alt="Player photo" title="Player photo" src="./assets/profile_default.png" width="220" height="165">
    <div class="card-body">
        <div class="text-muted">name</div>
        <div class="text-value">{{player.full_name}}</div>

        <div class="text-muted">tag</div>
        <div class="text-value">{{player.tag || '-'}}</div>

        <div class="text-muted">country</div>
        <div class="text-value">{{countryName}}</div>
      </div>
</div>
