<div class="card">
  <div class="card-header">
    <h5 class="card-title">Ticket
      <span class="badge"
        [ngClass]="{'badge-success': ticket.valid, 'badge-danger': !ticket.valid}">{{ticket.number}}</span>
    </h5>
    <p class="card-text">
      <span *ngIf="ticket.void">Voided!</span>
      <span>{{ticket.points | number }} points</span>
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let score of ticket.scores">

      <div class="row">
        <div class="col-3 game">{{getGameName(score.game)}}</div>
        <div class="col-5"><b>{{score.score | number}}</b> points</div>
      </div>
    </li>
  </ul>
  <div *ngIf="!ticket.valid" class="card-footer text-muted">
    The score will be calculated when all games on the ticket are played.
  </div>
</div>
