<div i18n="Invalid logon|Shows when login failed" id="invalidLogon" *ngIf="loginFailed" class="navbar-text">
  Unable to log you in, please check your username and password.
</div>
<div *ngIf="!loggedIn()" class="form-inline my-2 my-lg-0">
  <button *ngIf="!showLoginForm" type="button" class="btn btn-outline-success" (click)="showLoginForm = !showLoginForm">Sign in</button>
  <form #f="ngForm" (ngSubmit)="onLogin(f.value)" *ngIf="showLoginForm">
    <input type="text" placeholder="username" name="username" class="col-sm-4" ngModel>
    <input type="password" placeholder="password" name="password" class="col-sm-4" ngModel>
    <button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit" [disabled]="!showButton">Ok</button>
  </form>
</div>
<form (ngSubmit)="onLogoff()" *ngIf="loggedIn()" class="form-inline my-2 my-lg-0">
  <span id="userGreeter">{{ username }}</span>
  <button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit" [disabled]="!showButton">Sign out</button>
</form>
