<main class="">
  <div class="player card container-fluid" *ngIf="mainScore.player">
    <div class="row no-gutters">
      <div class="col-1 min75">
        <img class="card-img img" alt="Player photo" title="Player photo" src="{{mainScore.player.image}}"
          default="./assets/profile_default.png">
      </div>
      <div class="col">
        <div class="card-body">
          <h5 class="card-title">Player {{mainScore.player.full_name}} </h5>
        </div>
      </div>
      <div class="col">
          <button type="button" class="btn btn-lg btn-block btn-info" (click)="onShowScores()">Scores</button>
      </div>
    </div>
  </div>
  <div class="player card container-fluid" *ngIf="showScores === true">
    <div class="row bold">
      <div class="col-6 game">Game</div>
      <div class="col-4">Score</div>
      <div class="col-2">Rank/Points</div>
    </div>
    <div class="row" [ngClass]="{'disabled': !score.valid}" *ngFor="let score of mainScore.player.scores">
      <div class="col-6 game">{{getGameName(score.game)}} <span *ngIf="score.wildcard === true"
          class="badge badge-pill badge-info">wildcard/joker</span></div>
      <div class="col-4"><b>{{score.score | number}}</b> points</div>
      <div class="col-2" *ngIf="score.valid">
        <span class="badge badge-pill badge-primary">{{score.rank||0}}</span>
        <span class="badge badge-pill badge-light">{{score.points||0}} / 100</span>
      </div>
    </div>
  </div>
  <div class="player card container-fluid" *ngIf="mainScore.game">
    <div class="row no-gutters">
      <div class="col-1 min75">
        <img class="card-img img" src="./assets/pinball.svg">
      </div>
      <div class="col">
        <div class="card-body">
          <h5 class="card-title">Game {{mainScore.game.title}}</h5>
        </div>
      </div>
    </div>
  </div>


  <!-- Step 1 - Scan player | Manual player selection -->
  <app-main-scan-player [visible]="mainScore.state === 1" [type]="mainScore.inputType"
    (onPlayerFound)="onPlayerFound($event)"></app-main-scan-player>

  <!-- Step 2 - Scan game | Manual game selection -->
  <app-main-scan-game [visible]="mainScore.state === 2" [type]="mainScore.inputType"
    (onGameFound)="onGameFound($event)"></app-main-scan-game>

  <!-- Step 3 - Enter score -->
  <app-main-enter-score [visible]="mainScore.state === 3" (onScoreEntered)='onScoreEntered($event)' (onReset)='reset()'>
  </app-main-enter-score>

  <div *ngIf="mainScore.state === 1 && mainScore.inputType === 'scan'">
    <button type="button" (click)="switchMode('manual')" class="btn btn-grey btn-lg btn-block">Manual</button>
  </div>
  <div *ngIf="mainScore.state === 1 && mainScore.inputType === 'manual'">
    <button type="button" (click)="switchMode('scan')" class="btn btn-grey btn-lg btn-block">Scan</button>
  </div>
  <div class="space" *ngIf="mainScore.state > 1 && enterScoreComponent.aggreed === false">
    <button type="button" (click)="reset()" class="btn btn-secondary btn-lg btn-block">Reset</button>
  </div>
</main>